@import url('https://fonts.googleapis.com/css2?family=Jua&family=PT+Sans&family=Roboto+Mono:wght@400;500&display=swap');

/*
font-family: 'Jua', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

body {overflow-x: hidden; font-family: 'Jua', sans-serif;
    position: relative;}